* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
}
/* =======================================================Header==================================================== */

.headerSection {
  background-color: rgb(244, 244, 244);
  padding: 10px;
}
body {
  position: relative;
}
.counterplus {
  font-size: 30px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 12px;
}
.sideMenu {
  z-index: 999999999;
  position: static;
  display: none;
  width: 75%;
  font-size: 80px;
  background-color: #fff;
  border-radius: 10px;
}
.showContainer {
  display: block;
}
.navBtn {
  margin-left: 5px;
}

.topIcons i {
  color: rgb(112, 112, 112);
  font-weight: 400;
  font-size: 14px;
  padding: 5px;
}
.topIcons i:hover {
  color: rgb(0, 174, 239);
}
.dropdown-menu {
  background-color: #00aeef !important;
}
.dropdown-menu li a {
  color: #fff !important;
}
.ulNav li a:hover {
  color: rgb(0, 174, 239) !important;
}
.dropdown-menu li a:hover {
  background-color: rgba(52, 62, 92, 0.9) !important;
}
.header a {
  padding: 5px;
  text-align: center;
  color: #707070;
  text-decoration: none;
  margin-right: 5px;
}

.header a:hover {
  color: #707070;
}
.nav-item {
  color: #232323 !important;
  padding: 0 15px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.locationIcon i,
.envelopeIcon i {
  color: rgb(0, 174, 239);
}
.dento-btn {
  color: #fff !important;
  font-weight: 600;
  min-width: 140px;
  height: 40px;
  line-height: 36px;
  font-size: 12px;
  background-color: rgb(0, 174, 239) !important;
  transition: all 1s !important;
}
.hover-style:hover {
  color: rgb(0, 173, 238) !important;
  background-color: transparent !important;
}
.hover-style {
  color: #fff !important;
  transition: all 1s !important;
}

.dento-trans-btn {
  color: rgb(0, 173, 238) !important;
  font-weight: 600;
  min-width: 140px;
  height: 40px;
  line-height: 36px;
  font-size: 12px;
  border: 1px solid rgb(0, 173, 238) !important;
  background-color: transparent !important;
}

.dento-btn:hover {
  color: rgb(0, 173, 238) !important;
  border: 1px solid rgb(0, 173, 238) !important;
  background-color: transparent !important;
}

nav {
  background-color: #fff;
  z-index: 999999;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
}
.headerMainSpan {
  position: relative;
}
.tooltip-inner {
  max-width: 200px !important;
  padding: 0.25rem 0.5rem !important;
  color: #fff !important;
  text-align: center !important;
  background-color: #000 !important;
  border-radius: 0.25rem !important;
  display: none;
  position: absolute;
  z-index: 1110000;
}
#navContainer {
  padding: 15px;
}

#navContainer a img {
  width: 100%;
}
/* =======================================================End Header==================================================== */

/* =======================================================Section1==================================================== */
.bg-img {
  background-image: url(./img/1.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 150px 0px;
  position: relative;
  opacity: 1;
  z-index: 999;
}
.background-div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(52, 62, 92, 0.9);
  pointer-events: none;
  z-index: -100;
  /* opacity: 0.5; */
}

.bg-img h2 {
  font-size: 55px;
  color: #fff;
  margin-bottom: 30px;
  display: block;
  text-transform: capitalize;
  opacity: 1;
}
.bg-img p {
  font-size: 20px;
  color: #fff;
  margin-bottom: 40px;
  opacity: 1;
}
.divcolor {
  background-color: rgb(0, 173, 238);
  width: 80px;
  height: 5px;
  display: inline-block;
  margin-bottom: 2rem;
}
/* =======================================================End Section1==================================================== */

/* =======================================================Section2==================================================== */

.header-aboutus {
  padding-bottom: 40px;
}
.progress {
  margin-bottom: 20px;
  width: 100%;
}
.progress-bar {
  background-color: rgb(0, 173, 238) !important;
}
.before-progress {
  font-size: 20px;
  font-weight: bold;
}
.paragraph-aboutus {
  margin-bottom: 3rem;
}
.content-aboutus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#hr {
  opacity: 0.1 !important;
}
#iconSection {
  margin-top: 60px;
}
.icon-section .spani {
  font-size: 50px;
  color: rgb(0, 173, 238);
}

.bg-img2 {
  background-image: url(./img/13.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 0px;
  position: relative;
  opacity: 1;
  z-index: 999;
}
.bg-img2 h1,
.bg-img2 h6,
.bg-img3 h1 {
  color: #fff;
}
/* =======================================================End Section2==================================================== */

/* =======================================================Section3==================================================== */

.bg-img3 {
  background-image: url(./img/12.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 0px;
  position: relative;
  opacity: 1;
  z-index: 999;
}
.our-service-video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#video-dento-play {
  position: absolute;
  color: white;
  width: 60px;
  height: 60px;
  background-color: #00aeef;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
}
.our-service-icons {
  margin: 15px;
  text-align: center;
}
.our-service-icons-img {
  padding-bottom: 15px;
}
/* =======================================================End Section3==================================================== */

/* =======================================================Section4==================================================== */

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.divcolor-center {
  background-color: rgb(0, 173, 238);
  width: 50px;
  height: 5px;
  margin: 0.5rem;
}

tr > th {
  padding: 10px 15px;
  background-color: #00aeef !important;
  border: 4px solid #ffffff !important;
  color: #fff;
}

tr > td {
  padding: 10px 15px !important;
  border-radius: 3px;
  border: 4px solid #ffffff !important;
  background-color: #f4f4f4 !important;
  font-weight: 600;
  color: #707070;
}
.table-row {
  padding-bottom: 20px;
}
.table-section {
  padding-bottom: 100px;
}
/* =======================================================End Section4==================================================== */

/* =======================================================Section5==================================================== */

.dento-btn i {
  font-size: 10px;
}
.input-section,
.form-select {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  border: none;
  color: #ffffff;
  font-size: 12px;
  padding: 0 30px;
  font-style: italic;
}
#textarea {
  padding: 30px;
  height: 120px;
}
/* =======================================================End Section5==================================================== */

/* =======================================================Section6==================================================== */
.blueLine {
  display: inline-block;
  width: 70px;
  height: 4px;
  border-radius: 2px;
  background-color: #00aeef;
}
.card .section1 {
  position: relative;
  height: 130%;
  color: #fff;
}
.card img {
  width: 100%;
  height: 100%;
}

.firstCard {
  position: absolute;
  bottom: 0px;
  opacity: 0.85;
  background-color: #2c455d;
  width: 100%;
  color: white !important;
  text-align: center;
}
.socialMedia {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -70%);
  visibility: hidden;
  opacity: 0;
  width: 100%;
}
.socialMedia a {
  border-radius: 50%;
  background-color: white;
  padding: 10px;
  width: 30px;
  text-align: center;
}

.card-style {
  margin-bottom: 100px;
  width: auto;
  padding: 0;
  padding: 10px;
}
/* =======================================================End Section6==================================================== */

/* =======================================================Section7==================================================== */
.backPhoto {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(52, 62, 92, 0.9);
  pointer-events: none;
  z-index: -100;
  /* opacity: 0.5; */
}
.bg-img4 {
  background-image: url(./img/7.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  opacity: 1;
  color: white;
  /* height: 800px; */
  z-index: 999;
}

/* =======================================================End Section7==================================================== */

/* =======================================================Section8==================================================== */

.thirdSection a {
  text-decoration: none;
  color: black;
}
.thirdSection a:hover {
  color: #00aeef;
}
.footer-icons {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-icons a {
  color: white;
}
.footer-icons a:hover {
  color: #00aeef;
}
.footer-openhours {
  /* width: 100%; */
  padding-top: 50px;
}

.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-openhours {
  line-height: 8vh;
}
/* =======================================================End Section8==================================================== */

/* =======================================================Section9==================================================== */

.bg-imgFooter {
  background-image: url(./img/3.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  opacity: 1;
  color: white;
  /* height: 800px; */
  z-index: 999;
  /* padding: 80px 80px 10px 80px; */
}
ul {
  list-style-type: none;
}

.footer-openhours-ul {
  padding: 0px;
}
.footer-openhours-ul li {
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.footer-openhours-ul li a {
  color: white;
  text-decoration: none;
}

li a:hover {
  color: #00aeef;
}
form button {
  background-color: #00aeef;
  color: white;
}
footer p a {
  color: white;
  padding-left: 5px;
}
footer p {
  margin-top: 25px;
}
form button:hover {
  background-color: brown;
}
/* =======================================================End Section9==================================================== */

/* =======================================================Youssef==================================================== */
.bg-image {
  background-image: url(img/12.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: opacity(0.5);
  height: 200px;
  position: relative;
}

.mask {
  background-image: linear-gradient(
    to right,
    rgba(44, 69, 93, 0.85),
    rgba(0, 1, 44, 0.85)
  );
  /* opacity: 0.85; */
}

ol a {
  text-decoration: none !important;
  color: black !important;
}
.get-in::after {
  content: " ";
  margin-top: 0.8em;
  width: 2em;
  height: 0.15em;
  background-color: #00aeef;
  display: block;
}

.btn-primary {
  background-color: #00aeef !important;
}

.btn-primary:hover {
  color: #00aeef !important;
  background-color: white !important;
  border-color: #00aeef !important;
}

.bg-color {
  background-color: #00aeef !important;
  color: white;
}

/* =======================================================Youssef==================================================== */

/* =======================================================Media Query==================================================== */

@media screen and (max-width: 767.5px) {
  .header span {
    display: none;
  }
  #navContainer {
    flex-wrap: nowrap !important;
  }
  .bg-img h2 {
    font-size: 25px;
  }
  .bg-img p {
    font-size: 16px;
  }
  .div-img {
    padding-bottom: 50px;
    width: 100%;
  }
  .icon-section {
    padding-bottom: 40px;
  }
  .counterplus {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .div-img {
    width: 100%;
  }
}
@media screen and (min-width: 991.5px) {
  .sideMenu {
    display: none !important;
    width: 100%;
  }
}
